body {

}

.notifier {
  position: absolute;
  border  : 1px solid #000000;
}

.form_row {
  padding-left: 20px;
}

.form_field {
  font-size: 14pt;
  display  : inline;
  float    : left;
}

.panel-body {
  padding      : 0px;
  margin-top   : 105px;
  margin-bottom: 15px;
}

.table {
  font-size: 10pt;
}